body {
  margin: 0 10%;
  padding: 0;
  font-size: 1em;
  font-family: Roboto, sans-serif;
}

a {
  color: #4d88cc;
}

a:link {
  color: #4d88cc;
  text-decoration: none;
}

a:visited {
  color: #34659e;
  text-decoration: none;
}

a:hover {
  color: #4d88cc;
  text-decoration: underline;
}

a:active {
  color: #4d88cc;
  text-decoration: underline;
}

.topline {
  width: 100%;
  height: 5px;
  background-color: grey;
}

nav.navbar {
  width: 100%;
  margin: 15px auto;
  padding-bottom: 20px;
  font-size: 1.2em;
}
nav.navbar a:link, nav.navbar a:visited {
  color: black;
}
nav.navbar a:hover, nav.navbar a:active {
  color: black;
  text-decoration: none;
}
nav.navbar .name {
  color: #771950;
  float: left;
  padding-left: 0.5em;
}
nav.navbar .name a:link, nav.navbar .name a:visited, nav.navbar .name a:hover, nav.navbar .name a:active {
  color: #771950;
}
nav.navbar .navbar-nav {
  padding-left: 1em;
  list-style: none;
  float: left;
  justify-content: space-between;
}
nav.navbar .navbar-nav .nav-link {
  padding: 0 0.3em;
  float: left;
}
nav.navbar .navbar-nav a.active:link, nav.navbar .navbar-nav a.active:visited, nav.navbar .navbar-nav a.active:hover, nav.navbar .navbar-nav a.active:active {
  color: #777;
}
nav.navbar .navbar-source {
  padding-right: 1em;
  list-style: none;
  float: right;
  justify-content: space-between;
}

main {
  margin: 1em auto;
  max-width: 40em;
  padding: 0 0.62em;
}

.footerline {
  width: 100%;
  height: 2px;
  background-color: grey;
}

/*# sourceMappingURL=default.css.map */
