body {
	margin: 0 10%;
	padding: 0;
    font-size: 1em;
    font-family: Roboto, sans-serif;
}

a {
    color: #4d88cc;
}
a:link {
    color: #4d88cc;
    text-decoration: none;
}
a:visited {
    color: #34659e;
    text-decoration: none;
}
a:hover {
    color: #4d88cc;
    text-decoration: underline;
}
a:active {
    color: #4d88cc;
    text-decoration: underline;
}

.topline {
    width: 100%;
    height: 5px;
    background-color: grey;
}

nav.navbar {
    width: 100%;
    margin: 15px auto;
    padding-bottom: 20px;
    font-size: 1.2em;

    a:link, a:visited {
        color: black;
    }
    a:hover, a:active {
        color: black;
        text-decoration: none;
    }
    .name {
        color: #771950;
        float: left;
        padding-left: 0.5em;
        a:link, a:visited, a:hover, a:active {
            color: #771950;
        }
    }
    .navbar-nav {
        padding-left: 1em;
        list-style: none;
        float: left;
        justify-content: space-between;
        .nav-link {
            padding: 0 0.3em;
            float: left;
        }
        a.active:link, a.active:visited, a.active:hover, a.active:active {
            color: #777;
        }
    }
    .navbar-source {
        padding-right: 1em;
        list-style: none;
        float: right;
        justify-content: space-between;
    }
}

main {
    margin:1em auto;
    max-width:40em;
    padding:0 .62em;
}

.footerline {
    width: 100%;
    height: 2px;
    background-color: grey;
}
